DATABASE_URL="postgresql://postgres:postgres@database:5432/postgres"
SSO_CLIENT_ID="your-client-id"
SSO_CLIENT_SECRET="your-client-secret"
SSO_DISCOVERY_URL="https://your-sso-discovery-url"
BETTER_AUTH_URL="http://localhost:4321"